
/*==================================================================*/
/*                           All Pages                              */
/*==================================================================*/

/*---------------------------------------------*/
/*                Sementic Tags                */
/*---------------------------------------------*/

/*Add padding and margin to space out the page.
Make the font larger too.*/
html{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
body{
	padding: 0;
	margin: 0;
	border: none;
}

footer{
	padding: 1.8rem 0 3.6rem 0;
}
footer p{
	text-align: center;
}

main{
	padding: 0 1.8rem 0 1.8rem;
}

nav{
	margin: 0;
	padding: 0;
}

/*---------------------------------------------*/
/*                Text styles                  */
/*---------------------------------------------*/
a {
	text-decoration: none;
}

/*h1 web  66px bold*/
h1{
	font-size: 3.667rem;
	line-height: 4.583rem;
	font-weight: bold;
	color:#3a395e;
}

/*h2 web  48px bold*/
h2{
	font-size: 2.667rem;
	line-height: 3.429rem;
	font-weight: bold;
	color:#3a395e;
}

/*h3 web  28px uppercase bold*/
h3{
	font-size: 1.556rem;
	line-height: 2.004rem;
	font-weight: bold;
	color:#3a395e;
	margin-bottom: 0.778rem;
}

/*h4 web  24px bold*/
h4{
	font-size: 1.333rem;
	line-height: 1.777rem;
	font-weight: bold;
	color:#7051ef;
	margin-bottom: 0.667rem;
}

/*h5 web  20px bold*/
h5{
	font-size: 1.111rem;
	line-height: 1.556rem;
	font-weight: bold;
	color:#3a395e;
	margin-bottom: 0.5rem;
}

/*h6 web  18px neutral 700*/
h6{
	font-size: 1rem;
	line-height: 1.444rem;
	font-weight: bold;
	color:#6e6d8f;
	margin-bottom: 0.5rem;
}
/*p web  18px neutral 600*/
p{
	font-size:1rem;
	line-height: 1.778rem;
	color:#6e6d8f;
}

.large{
	font-size: 1.111rem;
	line-height: 2rem;
}
.small{
	font-size: 0.889rem;
}


/*---------------------------------------------*/
/*            Top Navigation bar               */
/*---------------------------------------------*/
/*skip to main button (hidden button)
.skip{
	font-size: 0.8rem;
	position: relative;
	left: -150px;
	z-index: 9;
}
.skip:focus{
	left: 5px;
}*/

#logo{
	width: 250px;
	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
#logo:hover{
    transform: scale(1.05);
}
/*
@keyframes logoanimation {
	0%   {
		width: 250px;
	}
	50% {
	  	width:255px;
	}
	100% {
		width: 270px;;
	}
}
#logo{
	animation-name: logoanimation;
	animation-duration: 1s;
}*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
	padding:1.8rem;
	min-height: 5rem;
}

.nav_links{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}
.nav_links a{
	color:#3a395e;
	padding: 0.7778rem;
	margin-left: 1.8rem;
	border-radius: 0.7778rem;
	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.nav_links a:hover{
	color:#7051ef;
	background-color: #f7f6ff;
}
.active a{
	color:#7051ef;
	font-weight: bold;
	background-color: #f7f6ff;
}

/*---------------------------------------------*/
/*            bottom Navigation bar            */
/*---------------------------------------------*/
footer nav ul{
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer nav ul li a{
	color:#737373;
	line-height: 1.5rem;
}

footer nav ul li a:hover{
	text-decoration: underline;
}

.bottom_active{
	color:#000000;
	text-decoration-line: underline;
  	text-decoration-color:#000000;
	text-decoration-style: wavy;
}

/*==================================================================*/
/*                           Homepage                               */
/*==================================================================*/
/*---------------------------------------------*/
/*            Home intro part                  */
/*---------------------------------------------*/
.slash{
	width:95px;
    height:6px;
	border-radius: 1px;
	background-color: #7051ef;
}
.intro{
	display: grid;
	row-gap: 1.8rem;
	padding: 1.8rem 0 1.8rem 0;
}
.introtitle{
	justify-self: start;
}

/*---------------------------------------------*/
/*         Home project filter                 */
/*---------------------------------------------*/
.filter{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 1.8rem 0 1.8rem 0;
	min-height: 5rem;
}

.filter a{
	color:#3a395e;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 0.44rem;
	margin-right: 2rem;
	background-color: #fafafc;
	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.filter a:hover{
	color:#7051ef;
	background-color: #f7f6ff;
}
.filter_active a{
	color:#7051ef;
	font-weight: bold;
	background-color: #f7f6ff;
}


/*---------------------------------------------*/
/*            Home project cards               */
/*---------------------------------------------*/
/*cards container and layout*/
#project{
	display: grid;
	grid-template-columns: 1fr;
	row-gap:1.8rem;
	padding: 1.8rem 0 1.8rem 0;
}

/*one whole card*/
.one_project{
	border-radius: 2rem 2rem 2rem 2rem;
	box-shadow:
		0 0 5px 0 rgba(39, 25, 77, 0.02),
		0 3px 20px 0 rgba(112, 81, 239, 0.04),
		0 10px 28px 0 rgba(39, 25, 77, 0.03)
	;
	display: grid;
	grid-template-columns: 1fr;
	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;

	object-fit: cover;
}
.one_project:hover{
	transform: scale(1.02);
}

/*image on card*/
.project_image img{
	width: 100%;
	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.project_image{
	object-fit: cover;
	overflow: hidden;
	border-radius: 2rem 2rem 0 0;
}
.one_project:hover .project_image img{
	transform: scale(1.05);
}

/*text white box on card*/
.project_card{
	border-radius: 0 0 2rem 2rem;
	margin-top: -1.3rem;
	padding: 0 2.2rem 3rem 2.2rem;
}

/*category tab on white box*/
.category_product{
	font-size: 0.889rem;
	line-height: 1.188rem;
	font-weight: bold;
	color: #7051ef;
	/*background*/
	position: relative;
	z-index: 3;
	margin-bottom: 1.1667rem;
	padding: 0.6rem 1rem 0.6rem 1rem;
	border-radius: 0.667rem;
	background-color: #f7f6ff;
	inline-size: 6.44rem; /*set the tab length because it is an inline item*/
}

/*intro text on white box*/
.project_text{
	justify-self: center;
	align-self: center;
}
.keywords{
	color:  #7051ef;
	font-style: italic;
	font-size: 1rem;
	line-height: 1.8rem;
}

/*case study link*/
.case_study{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1.5rem;
}
.case_study h6{
	color: #7051ef;
	margin-bottom: 0;
}
.case_study_chevron{
	background-color: #f7f6ff;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.35rem;
	margin-left: 0.7rem;
	-webkit-transition: all 300ms ease-out;
  	-moz-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	display:flex;
	justify-content: center;
	align-items: center;
}
.case_study_chevron img{
	width: 1rem;
	height: 1rem;
}
.one_project:hover .case_study_chevron {
	margin-left: 1.2rem;
	background-color: #7051ef;
  }
.one_project:hover .case_study_chevron img{
	filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1019%) hue-rotate(100deg) brightness(113%) contrast(100%);
}
.one_project:hover h3{
	color: #7051ef;
}

/*==================================================================*/
/*                           About Page                             */
/*==================================================================*/

/*----------------------*/
/*  intro setion        */
/*----------------------*/
.about_session{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}


/*----------------------*/
/*      text card       */
/*----------------------*/
.about_card{
	padding: 1.8rem 0 1.8rem 0;
	display: grid;
	row-gap: 1.8rem;
}
.links{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
/*primary button*/
.button_primary {
	/*text*/
	color: #FFFFFF;
	line-height: 1em;
	font-weight: bold;
	text-align: center;
	/*button background*/
	background-color: #7051ef;
	border-radius: 0.8rem;
	padding: 1rem 3rem 1rem 3rem;
	box-shadow: 0 3px 17px 0 rgba(112, 81, 239, 0.27);
	/*transaction ease out*/
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
  	-o-transition: all 300ms ease-out;
  	transition: all 300ms ease-out;
  }
.button_primary a{
	color: #FFFFFF;
}
.button_primary:hover{
	transform: scale(1.05);
}
/*LinkedIn*/
.linkedin{
	/*transaction ease out*/
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
  	-o-transition: all 300ms ease-out;
  	transition: all 300ms ease-out;
	font-size: 1.2rem;
	margin-left: 2.5rem;
}
.linkedin:hover{
	transform: scale(1.1);
}

/*----------------------*/
/*        picture       */
/*----------------------*/
.mypic{
	padding: 1.8rem 0 1.8rem 0;
}
.mypic img{
	width: 100%;
	border-radius: 2.1rem;
	box-shadow: 0 0 5px 0 rgba(39, 25, 77, 0.02),
		0 3px 20px 0 rgba(112, 81, 239, 0.04),
		0 10px 28px 0 rgba(39, 25, 77, 0.03);
}





/*==================================================================*/
/*                           Contact Page                           */
/*==================================================================*/
.contactPage{
	background-color: #e5e5f7;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 20px ), repeating-linear-gradient( #e8bee155, #e8bee1 );
	min-height: 120vh;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	row-gap: 2rem;
}

.contact_Me{
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	grid-column: 2/3;
	align-self: center;
}

/* Form Style */
.fa-solid{
	color: #7051ef;
}

form {
	grid-column: 2/3;
}

legend{
	position: relative;
	top: -0.8rem;
	font-style: italic;
}

label{
	display: inline-block;
	margin-top: 1.8rem;
	font-family: 'Roboto', Helvetica, sans-serif;
}


input{
	width: 85%;
	padding: 12px 20px;
	display: block;
	border: 1px solid #7051ef;
	border-radius: 0.8rem;
	margin: auto;
	font-family: 'Roboto', Helvetica, sans-serif;
}

textarea{
	width: 85%;
	height: 30vh;
	padding: 12px 20px;
	margin: auto;
	display: block;
	border: 1px solid #7051ef;
	border-radius: 0.8rem;
	font-family: 'Roboto', Helvetica, sans-serif;
}

input[type=checkbox]{
	display:inline;
}

input[type=submit] {
	background-color: #7051ef;
	color: white;
	padding: 14px 20px;
	margin: auto;
	cursor: pointer;
	width: 60%;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

input[type=submit]:hover {
	position: relative;
	left:-3px;
	top:-3px;
}


/*==================================================================*/
/*                          project page                            */
/*==================================================================*/

/*------------------*/
/* overview section */
/*------------------*/
.companytype{
	font-size: 1.222rem;
	line-height: 1.334rem;
	font-weight: bold;
	color: #7051ef;
}
.overview_introtext{
	display: grid;
	gap: 0.8rem;
}
.info{
	display: grid;
	gap: 0.8rem;
	justify-items: start;
}

/*---------------------*/
/*  problem & solution */
/*---------------------*/
.img_twocolumn{
	display: grid;
	gap: 2.5rem;
	justify-items: center;
}

/*---------------------*/
/*    common layouts   */
/*---------------------*/

/* fullwidth section   */
.fullwidth{
	padding:1.8rem 0 1.8rem 0;
	display: grid;
	gap: 4rem;
	margin-bottom: 7rem;
}
.inner_bigright{
	display: grid;
	gap: 4rem;
}

/*  bigright section  */
.bigright{
	display: grid;
	gap: 4rem;
	margin-bottom: 7rem;
	padding: 1.8rem 0 1.8rem 0;
}

/* 1st level gap */
.rightspacer{
	display: grid;
	gap: 4rem;
}

/* 2nd level gap */
.secondspacer{
	display: grid;
	gap: 1.2rem;
}
.thirdspacer{
	display: grid;
	gap: 0.5rem;
}


/*-------------------------*/
/*  other common elements  */
/*-------------------------*/

/* columns */
.twoevencolumn{
	display: grid;
	gap: 2rem;
}
.twovideocolumn{
	display: grid;
	gap: 2rem;
}

/*   section title   */
.sectionslash{
	width:95px;
	height:6px;
	border-radius: 1px;
	background-color: #7051ef;
	margin-bottom: 1rem;
}

/* highlight texts */
.highlight{
	font-weight: bold;
	color: #3a395e;
}
.colorhighlight{
	font-weight: bold;
	color:#7051ef
}

/* image classes */
.logoimg{
	height: 1.5rem;
}
.shadowbox{
	width: 100%;
	border-radius: 1.5rem;
	box-shadow:
		0 0 5px 0 rgba(39, 25, 77, 0.02),
		0 3px 20px 0 rgba(112, 81, 239, 0.04),
		0 10px 28px 0 rgba(39, 25, 77, 0.03);
}
.roundbox{
	width: 100%;
	border-radius: 1.1rem;
}
.fullwidthimg{
	width: 100%;
}
.centerimg{
	max-width: 100%;
}

/* lists & points */
.points{
	font-size: 1rem;
	line-height: 1.778rem;
	color:#6e6d8f;
	list-style-type: disc;
	list-style-position: outside;
	margin: 0.5rem 0 0.5rem 1rem;
}
.points li{
	margin-bottom: 0.5rem;
}
.numberlist{
	font-size: 1rem;
	line-height: 1.778rem;
	color:#6e6d8f;
	list-style-type: decimal;
	list-style-position: outside;
	margin: 0.5rem 0 0.5rem 2rem;
}
.numberlist li{
	margin-bottom: 0.5rem;
}

/* user quotes */
.quotes{
	padding: 1rem;
	background-color: #f7f6ff;
	border-radius: 0 1rem 1rem 1rem;
	border: 1px #7051ef dashed;
}
.quotes_bubble{
	display: grid;
	grid-template-columns: 1fr 8fr;
	gap: 1rem;
}


/*==================================================================*/
/*                          video style                             */
/*==================================================================*/

/*------------------------*/
/*  iphone X video player */
/*------------------------*/
.container_iphone_video video{
	width: 100%;
	max-width: 400px;
	border-radius: 3rem;
}


/*-----------------------*/
/*       big video       */
/*-----------------------*/

.options{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.video{
	display: block;
	width:85vw;
	height: auto;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: 0 auto;
}

figcaption{
	padding: 1rem;
	text-align: center;
}

button{
	margin-top: 5px;
	margin-bottom: 5px;
	flex-basis: 180px;
	font-size:1.25rem;
}


/*==================================================================*/
/*                          Scroll Animation                        */
/*==================================================================*/
.kids{
	z-index: 1;
	position: absolute;
	left: 20vw;
	top:20vh;
	font-size: 3rem;

}
.kidscaption{
	font-size: 0.8rem;
	position:absolute;
	z-index: 1;
	left:22vw;
	top:28vh;
	font-style: italic;
}

.bodylike {
	height: 80vh;
	position: sticky;
	background: #e6ebf3;
  }

canvas {
	position: absolute;
	left: 50vw;
	top:40vh;
	transform: translate(-50%, -50%);

  }



/*==================================================================*/
/*                  @media   screens                                */
/*==================================================================*/
/*=========================================*/
/*              tablet screen              */
/*=========================================*/
@media screen and (min-width: 700px){
	html{
		font-size: 16px;
	}

	/* top navigation */
	header{
		flex-direction: row;
		min-height: 3vh;
	}
	header img{
		width: 6vw;
	}
	/* homepage intro */
	.introtitle{
		justify-self: center;
	}
	.slash{
		margin: auto;
	}

	.filter{
		min-height: 2rem;
	}

	/* homepage project list */
	#project{
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.8rem;
	}

	/* about page */
	.links{
		justify-content: center;
	}

	/*========================*/
	/*project page*/

	/*------------------*/
	/* overview section */
	/*------------------*/
	.info{
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem;
	}
	/*--------------------*/
	/* problem & solution */
	/*--------------------*/
	.img_twocolumn{
		grid-template-columns: 1fr 1.2fr;
		gap: 3.5rem;
		align-items: center;
		justify-items: left;
	}

	/*---------------------*/
	/*   common layouts    */
	/*---------------------*/
	/* fullwidth section */
	.fullwidth{
		gap: 4.5rem;
		margin-bottom: 10rem;
	}
	.inner_bigright{
		grid-template-columns: 1fr 2.8fr;
		gap: 3.5rem;
	}

	/* bigright section   */
	.bigright{
		grid-template-columns: 1fr 2.8fr;
		gap: 3.5rem;
		margin-bottom: 10rem;
	}
	/* 1st level gap */
	.rightspacer{
		gap: 4.5rem;
	}
	/* 2nd level gap */
	.secondspacer{
		gap: 1.3rem;
	}
	.thirdspacer{
		gap: 0.6rem;
	}

	/*------------------------*/
	/* other common elements  */
	/*------------------------*/
	/* columns */
	.twovideocolumn{
		grid-template-columns: 1fr 1fr;
	}

}



/*=========================================*/
/*             computer screen             */
/*=========================================*/
@media screen and (min-width: 1080px){
    html{
		font-size: 18px;
	}

	/* top navigation */
	header{
        position: sticky;
		top:0;
		z-index: 9;
		padding: 0.8rem 2.2rem 0.8rem 2.2rem;
		margin-bottom: 1.4rem;
		min-height: 3vh;
    }
	header img{
		width: 3vw;
	}
	/* main session: side align */
	main{
		padding: 0 2.2rem 0 2.2rem;
	}

	/* bottom navigation */
	footer nav ul{
		flex-direction: row;
		justify-content: space-around;
	}
	footer nav ul li::before{
		content:"👍 ";
	}

	/* homepage intro */
	.intro{
		grid-template-columns: 3fr 5fr;
		padding: 2.2rem 0 2.2rem 0;
	}
	.introtitle{
		justify-self: start;
	}
	.intro p{
		margin-left: 2rem;
	}
	.slash{
		margin-left: 0;
	}

	/* homepage project filter */
	.filter{
		padding: 2.2rem 0 2.2rem 0;
	}

	/* homepage project list */
	#project{
		padding: 2.2rem 0 2.2rem 0;
		grid-gap: 3rem;
	}

	/* about page */
	.about_session{
		flex-direction: row;
	}
	.about_card{
		background-color: #FFFFFF;
		padding: 3rem;
		border-radius: 2.1rem;
		box-shadow: 0 0 5px 0 rgba(39, 25, 77, 0.02),
			0 3px 20px 0 rgba(112, 81, 239, 0.04),
			0 10px 28px 0 rgba(39, 25, 77, 0.03);
		/*card position*/
		position: absolute;
		z-index: 3;
		float: left;
		max-width: 45vw;
	}
	.mypic{
		position: relative;
		z-index: 1;
		margin-left: 25vw;
	}
	.links{
		justify-content: flex-start;
	}

	/* contact page */
	.contactPage{
		grid-template-columns: 5fr 7fr 5fr;
	}

	/*========================*/
	/*project page*/

	/*--------------------*/
	/* overview section   */
	/*--------------------*/
	.overview_introtext{
		max-width: 75%;
	}
	.info{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap:3rem;
	}

	/*--------------------*/
	/* problem & solution */
	/*--------------------*/
	.img_twocolumn{
		grid-template-columns: 1fr 1fr;
		gap: 4.5rem;
	}

	/*--------------------*/
	/*   common layouts   */
	/*--------------------*/

	/*  fullwidth section  */
	.fullwidth{
		padding: 2.2rem 0 2.2rem 0;
		gap: 6rem;
		margin-bottom: 13.378rem;
	}
	.inner_bigright{
		grid-template-columns: 1fr 3.5fr;
		gap: 4.5rem;
	}

	/* bigright section   */
	.bigright{
		grid-template-columns: 1fr 3.5fr;
		gap: 4.5rem;
		margin-bottom: 13.378rem;
		padding: 2.2rem 0 2.2rem 0;
	}
	.rightspacer{
		gap: 6rem;
	}
	.secondspacer{
		gap: 1.667rem;
	}
	.thirdspacer{
		gap: 0.8rem;
	}

	/*------------------------*/
	/* other common elements  */
	/*------------------------*/
	/*     columns     */
	.twoevencolumn{
		grid-template-columns: 1fr 1fr;
	}

	/* image classes */
	.logoimg{
		height: 2.5rem;
	}
	.centerimg{
		max-width: 75%;
		margin: auto;
	}

  }



/*=========================================*/
/*             wide screen                 */
/*=========================================*/
@media screen and (min-width: 1600px){
	body{
		max-width: 1600px;
		margin: auto;
	}
	/*--------------------*/
	/*     about page     */
	/*--------------------*/
	.about_card{
		max-width: 720px;
	}
	.mypic{
		margin-left: 400px;
	}



}

/*===========================================*/
/*               reduce motion               */
/*===========================================*/
@media screen and (prefers-reduced-motion: reduce){
	html{
		animation: none;
		scroll-behavior: auto; /* Removes scroll animation */
	}
	#logo{
		animation:none;
	}
	.intro{
		animation:none;
	}

	/*Turn off transition*/
	.flip-card-inner {
		-webkit-transition: initial; /* sets to default setting */
		transition: initial; /* sets to default setting */
	}

	/*Turn off parallax*/
	.pagebreak{
		background-attachment: initial;
	}
  }